PORT=PORT_NUMBER
APP_URL=http://localhost:PORT_NUMBER
DATABASE_URL="YOUR_PRISMA_POSTGRES_DATABASA_CONNECTION_STRING"
BYCRYPT_SALT_ROUNDS=YOUR_BYCRYPT_SALT_ROUNDS
JWT_ACCESS_SECRET=YOUR_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUT_REFRESH_SECRET
JWT_ACEESS_EXPIRES_IN=ACCESS_EXPIRES_IN
JWT_REFRESH_EXPIRES_IN=REFRESH_EXPIRES_IN